#p-category-query .grid-panel tr .c1 { width: auto; }
#p-category-query .grid-panel tr .c2 { width: 100px; vertical-align: top !important; }
#p-category-query .grid-panel tr .c3 { width: 120px; vertical-align: top !important; }
#p-category-query .grid-panel tr .c4 { width: 150px; vertical-align: top !important; }
#p-category-query .grid-panel tr .c5 { width: 200px; vertical-align: top !important; }

#p-category-query .grid-panel tr .c1 .treegrid-expander { vertical-align: top; }
#p-category-query .grid-panel tr td .cat-name {
	display: inline-block;
}
#p-category-query .grid-panel tr td .btn-detail {
	margin-left: 10px;
	color: #666;
}
#p-category-query .grid-panel tr td .detail {
	margin-top: 10px;
	padding: 5px;
	padding-left: 10px;
	line-height: 1.6;
	color: #999;
	border-left: 3px #CCC solid;
}
#p-category-query .grid-panel tr td .detail .label {
	padding: 2px 5px;
	font-weight: normal;
}

#p-category-query2 .grid-panel tr .c1 { width: 35px; }
#p-category-query2 .grid-panel tr .c2 { width: 80px; }
#p-category-query2 .grid-panel tr .c3 { width: auto; }
#p-category-query2 .grid-panel tr .c4 { width: auto; }
#p-category-query2 .grid-panel tr .c5 { width: 90px; }
#p-category-query2 .grid-panel tr .c6 { width: 90px; }
#p-category-query2 .grid-panel tr .c7 { width: 120px; }
#p-category-query2 .grid-panel tr .c8 { width: 150px; }
#p-category-query2 .grid-panel tr .c9 { width: 200px; }

.p-category-new-and-edit .property-table table { margin-bottom: 5px; }
.p-category-new-and-edit .property-table table .c1 { width: auto; }
.p-category-new-and-edit .property-table table .c2 { width: 70px; }
.p-category-new-and-edit .property-table table .c3 { width: 70px; text-align: center; }
.p-category-new-and-edit .property-table table .c4 { width: 85px; text-align: center; }
.p-category-new-and-edit .property-table table .c5 { width: 70px; text-align: center; }
.p-category-new-and-edit .property-table table .c6 { width: 110px; }
.p-category-new-and-edit .property-table .badd {
	float: left;
	padding-left: 0;
}
.p-category-new-and-edit .property-table .note {
	float: left;
	margin-top: 5px;
}