#p-product-allpricemgt .grid-panel .ibbsale { background-color: #B6FF00; }
#p-product-allpricemgt .grid-panel .baoma { background-color: #FFB6C1; }
#p-product-allpricemgt .grid-panel .weidian { background-color: #F0F8FF; }
#p-product-allpricemgt .grid-panel .inputable {
	width: 55px;
	margin: 0;
	padding: 2px;
	border: 1px #CCC solid;
	outline: none;
}
#p-product-allpricemgt .grid-panel .inputable.disabled,
#p-product-allpricemgt .grid-panel .inputable[readonly] {
	background: #999;
}
#p-product-allpricemgt .table-hover tr:hover td {
	background-color:#D1E8FF;
}

#p-product-image .image-list .oss-uploader .webuploader-container .webuploader-pick {
	width: 102px;
	height: 102px;
	background-size: 102px 102px;
}
#p-product-image .image-list .photo-item {
	position: relative;
	float: left;
	width: 102px;
	height: 102px;
	margin: 0;
	margin-right: 8px;
	margin-bottom: 35px;
}
#p-product-image .image-list .photo-item .loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 102px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
}
#p-product-image .image-list .photo-item .loading img { width:  25px; }
#p-product-image .image-list .photo-item .image {
	width: 100%;
	height: 100%;
	border: none;
}
#p-product-image .image-list .photo-item .image img {
	display: block;
	width: 100%;
	height: auto;
}

#p-product-image .image-list .photo-item .topright,
#p-product-image .image-list .photo-item .bottom {
	display: none;
	position: absolute;
	width: 27px;
	height: 27px;
	line-height: 27px;
	font-size: 13px;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
#p-product-image .image-list .photo-item.notloaded .topright,
#p-product-image .image-list .photo-item.notloaded .bottom {
	display: none !important;
}
#p-product-image .image-list .photo-item .topright { top: 0; right: 0; }
#p-product-image .image-list .photo-item .bottom { bottom: 0; left: 0; width: 100%; }
#p-product-image .image-list .photo-item .topright a,
#p-product-image .image-list .photo-item .bottom a {
	display: block;
	color: #FFF;
	text-decoration: none;
}
#p-product-image .image-list .photo-item:hover .topright,
#p-product-image .image-list .photo-item:hover .bottom,
#p-product-image .image-list .photo-item.cover-photo .bottom,
#p-product-image .image-list .photo-item.cover-photo.read-only .bottom { display: block; }

#p-product-image .image-list .photo-item.read-only .bottom { display: none; }

#p-product-image .image-list .photo-item .order-wrap {}
#p-product-image .image-list .photo-item .order-wrap input {
	width: 100%;
	height: 27px;
	line-height: 25px;
	margin: 0;
	padding: 0;
	text-align: center;
	border: 1px #CCC solid;
	outline: none;
}


#p-product-competitorinfo .info-list .info-row {
	margin-bottom: 25px;
	border-bottom: 1px #DDD solid;
}


#p-product-bundleinfo .table tr td { border-bottom: 1px solid #ddd; }
#p-product-bundleinfo .table .c1 { width: auto; }
#p-product-bundleinfo .table .c2 { width: auto; }
#p-product-bundleinfo .table .c3 { width: 90px; text-align: center; }
#p-product-bundleinfo .table .c4 { width: 90px; text-align: center; }
#p-product-bundleinfo .table tr.tpl-row { display: none; }
#p-product-bundleinfo .table .c1 img { width: 80px; height: 80px; }
#p-product-bundleinfo .table .c3 input { text-align: center; }

#p-product-bundleinfo #btnAdd {
	float: left;
	padding-left: 0;
	outline: none;
}
#p-product-bundleinfo .x-tip .note {
	float: left;
	margin-top: 7px;
}

.product-selector-modal.modal .modal-dialog { width: 1000px; }
.product-selector-modal.modal .form-group { margin-bottom: 5px; }
.product-selector-modal.modal .result-list {
	display: none;
	height: 320px;
	padding-left: 1px;
	padding-right: 5px;
	overflow-y: scroll;
}
.product-selector-modal.modal .result-list .item {
	position: relative;
	margin-bottom: 5px;
	padding: 3px;
	border: 1px #DDD solid;
	border-radius: 4px;
}

.product-selector-modal.modal .result-list .item .select-icon {
    color: #999;
}
.product-selector-modal.modal .result-list .item.selected { border-color: #4CAE4C; }
.product-selector-modal.modal .result-list .item.selected .select-icon { color: #4CAE4C; }
.product-selector-modal.modal .result-list .item.disabled {
	background: #F2DEDE;
	border-color: #D9534F;
}
.product-selector-modal.modal .result-list .item .image {
	float: left;
	width: 50px;
	height: 50px;
}
.product-selector-modal.modal .result-list .item .image img {
	display: block;
	width: 100%;
	height: 100%;
}
.product-selector-modal.modal .result-list .item .text {
	margin-left: 60px;
	margin-right: 25px;
	min-height: 50px;
	line-height: 17px;
}
.product-selector-modal.modal .result-list .item .selected-icon {
	display: none;
	position: absolute;
	top: 13px;
	right: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #4CAE4C;
	font-size: 17px;
	text-align: center;
}
.product-selector-modal.modal .result-list .item.selected .selected-icon { display: block; }

.product-selector-modal.modal .selected-list {
	display: none;
	height: 110px;
	padding-left: 1px;
	padding-right: 5px;
	overflow-y: scroll;
}
.product-selector-modal.modal .selected-list .item {
	position: relative;
	margin-bottom: 5px;
	padding: 3px;
	border: 1px #4CAE4C solid;
	border-radius: 4px;
}
.product-selector-modal.modal .selected-list .item .image {
	float: left;
	width: 40px;
	height: 40px;
}
.product-selector-modal.modal .selected-list .item .image img {
	display: block;
	width: 100%;
	height: 100%;
}
.product-selector-modal.modal .selected-list .item .text {
	margin-left: 45px;
	margin-right: 35px;
	line-height: 20px;
}
.product-selector-modal.modal .selected-list .item .btn-close {
	position: absolute;
	top: 3px;
	right: 0;
	width: 30px;
	height: 40px;
	line-height: 40px;
	color: #D43F3A;
	font-size: 17px;
	text-align: center;
}

#p-product-priceinfo .table-withlabel4 .c1 { width: 13%; }
#p-product-priceinfo .table-withlabel4 .c2 { width: 12%; }

#p-product-priceinfo .table-price { border: none; }
#p-product-priceinfo .table-price .row-empty td { border: none; }
#p-product-priceinfo .table-price .row-main td { background: #F7F7F7; }
#p-product-priceinfo .table-price .tr-ppt-item td { padding-top: 5px; padding-bottom: 5px; }

#p-product-pricetob .bundled-prices .c1 { width: 60px; }
#p-product-pricetob .bundled-prices .c2 { width: auto; }
#p-product-pricetob .bundled-prices .c3 { width: 50px; text-align: center; }
#p-product-pricetob .bundled-prices .c4 { width: 75px; text-align: center; }
#p-product-pricetob .bundled-prices .c5 { width: 80px; text-align: center; }
#p-product-pricetob .bundled-prices .c6 { width: 80px; text-align: center; }
#p-product-pricetob .bundled-prices .c6 input { text-align: center; }


#p-customsrecord-query .grid-panel .c1 { width: 25px; }
#p-customsrecord-query .grid-panel .c2 { width: 75px; }
#p-customsrecord-query .grid-panel .c3 { width: auto; }
#p-customsrecord-query .grid-panel .c4 { width: auto; }
#p-customsrecord-query .grid-panel .c5 { width: 85px; }
#p-customsrecord-query .grid-panel .c6 { width: 75px; }
#p-customsrecord-query .grid-panel .c7 { width: 80px; }
#p-customsrecord-query .grid-panel .c8 { width: 60px; }
#p-customsrecord-query .grid-panel .c9 { width: 60px; }
#p-customsrecord-query .grid-panel .c10 { width: 70px; }
#p-customsrecord-query .grid-panel .c11 { width: 85px; text-align: center; }
#p-customsrecord-query .grid-panel .c12 { width: 100px; }
#p-customsrecord-query .grid-panel .c13 { width: 100px; }
#p-customsrecord-query .grid-panel .c13 .btn:first-child { margin-bottom: 5px; }

#p-customsrecord-edit .span1 {
	color: #800;
	font-weight: normal;
}
#p-customsrecord-edit .uploader1 .oss-uploader .photo .image {
	width: 120px;
	height: 120px;
}
#p-customsrecord-edit .uploader1 .oss-uploader .webuploader-container .webuploader-pick {
	width: 120px;
	height: 120px;
	background-size: 120px 120px;
}
#p-customsrecord-edit .uploader1 .oss-uploader .photo .top {
	width: 119px;
}

#p-customsrecord-import .up-result{
    line-height:30px;
	font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#p-customsrecord-import .up-error-details{
    line-height:25px;
    color : red;
}

#p-product-status .status-table th,
#p-product-status .status-table td {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
#p-product-status .status-table td label {
	display: block;
	cursor: pointer;
}

#p-product-allpricemgt .mutiple-unit-qty {
    color:#999;
    font-size:80%;
}