#p-product-query .body-toggle,#p-product-query .checkbox-toggle{
	margin-right: 10px;
	color: #777;
}
#p-product-query .panel-heading-t .c0{
	width:150px;
}
#p-product-query .panel-heading-t .c1{
	width:38%;
	padding-right:10px;
}
#p-product-query .panel-heading-t .c2{
	width:8%;
	padding-right:10px;
}
#p-product-query .panel-heading-t .c3{
	width:7%;
	padding-right:10px;
}
#p-product-query .panel-heading-t .c4{
	width:5%;
	padding-right:10px;
}
#p-product-query .panel-heading-t .c5{
	width:5%;
	padding-right:10px;
}
#p-product-query .panel-heading-t .c6{
	width:8%;
}
#p-product-query .panel-heading-t .barcode{
	width:10%;
	padding-right:10px;
}

#p-product-query .product-main{
	font-size:12px;
}
#p-product-query .product-main td {
  vertical-align: top;
  line-height: 30px;
  color:gray;
}
#p-product-query .content_v_label{
	text-align:right;
	padding-right:6px;
	text-align: left;
}
#p-product-query .pading_margin {
  padding-left: 0px;
  padding-right: 15px;
}
#p-product-query .content_v {
  display: inline-block;
  color: #333;
}
#p-product-query .no-padding{
	padding:0 !important;
}
#p-product-query .checkbox-toggle{
	width:14px;
}
#p-product-query .panel{
	margin-bottom:5px !important;
}

#p-product-query .panel-default > .panel-heading {
  border-bottom: none !important;
}