<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <filter type="Fly.WebService.MvcFilters.HandleExceptionAttribute, Fly.WebService" />
  <filter type="Fly.WebService.MvcFilters.VerifyRequestSignAttribute, Fly.WebService" />
  <filter type="Fly.WebService.MvcFilters.EnsureRequestIdempotencyAttribute, Fly.WebService" />
</configuration>