@{
	this.PageTitle = "新增系统角色";
}

@section PageButtons {
	<button class="btn btn-sm btn-primary" id="btnSave" data-loading-text="保存中..."><i class="fa fa-save"></i> 保存</button>
	<a class="btn btn-sm btn-default" href="@LinkUrl("StaffUser/RoleQuery")"><i class="fa fa-sign-out"></i> 返回列表</a>
}

<div id="p-StaffUser-newrole">
	<input type="hidden" id="iptPageUrl" value="@LinkUrl("StaffUser/RoleNew")" />

	@Html.Partial("/Views/StaffUser/Partial/FormRole.cshtml")
</div>