@{
    this.PageTitle = "编辑系统用户";

    StaffUser staffUser = null;
    Guid? id = Utility.ParseQueryStringVal<Guid?>("id");
    if (id.HasValue)
    {
        Fly.Framework.Common.Cache.RemoveFromLocalCache("u_" + id.Value);
        staffUser = Api<IStaffUserApi>.Instance.Get(id.Value);
    }
    if (staffUser == null)
    {
        throw new BizException("未找到系统用户！");
    }
}

@section PageButtons {
	<button class="btn btn-sm btn-primary" id="btnSave" data-loading-text="保存中..."><i class="fa fa-save"></i> 保存</button>
	<a class="btn btn-sm btn-default" href="@LinkUrl("StaffUser/UserDetail", new { id = staffUser.Id })"><i class="fa fa-reply"></i> 返回</a>
}

<div id="p-StaffUser-edit2">
	<input type="hidden" id="iptPageUrl" value="@LinkUrl("StaffUser/UserEdit", new { id = staffUser.Id })" />

	@Html.Partial("/Views/StaffUser/Partial/FormUser.cshtml", staffUser)
</div>