<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <filter type="Fly.Framework.Common.BanSearchEngineAttribute, Fly.Framework.Common" />
  <filter type="Fly.Framework.Common.WebsiteClosedAttribute, Fly.Framework.Common" />
  <filter type="Fly.Framework.Common.HandleExceptionAttribute, Fly.Framework.Common" />
  <filter type="Fly.UI.Common.CheckCanLoginRouteAuthenticationAttribute, Fly.UI" />
  <filter type="Fly.Framework.Common.RouteAuthorizationAttribute, Fly.Framework.Common" />
  <filter type="Fly.Framework.Common.UrlHandlerAttribute, Fly.Framework.Common" />
</configuration>