<?xml version="1.0"?>
<Permissions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Permission Text="超级管理员" Value="FlyAdmin" />

  <Permission Text="系统用户管理" >
    <Permission Text="登录权限" Value="Fly_Login" />
    <Permission Text="查看系统用户资料" Value="Fly_StaffUserView" />
    <Permission Text="新建/编辑系统用户资料" Value="Fly_StaffUserEdit" />
    <Permission Text="管理用户的临时权限" Value="Fly_StaffUserManageTempPermission" />
    <Permission Text="查看系统角色" Value="Fly_StaffRoleView" />
    <Permission Text="创建/编辑系统角色" Value="Fly_StaffRoleEdit" />
  </Permission>
</Permissions>