.so-list .amt {
    text-align: right;
    padding-right: 16px;
    padding-left: 0px;
}

.so-list .tr-batchitems {
    display: none;
}

.so-list .expandBtn {
    cursor: pointer;
    color: #777;
}

.so-list .item-body {
    font-size: 12px;
}

    .so-list .item-body .table {
        margin: 0;
    }

    .so-list .item-body .card {
        padding: 8px;
        border: 1px #DDD solid;
        border-radius: 5px;
    }

    .so-list .item-body .line {
        line-height: 25px;
    }

    .so-list .item-body .card .title {
        margin: 5px 0;
        padding-bottom: 5px;
        border-bottom: 1px #DDD solid;
        padding-top: 10px;
        color: #666;
    }

        .so-list .item-body .card .title:first-child {
            padding-top: 0px;
        }

    .so-list .item-body .card {
        margin-bottom: 15px;
    }

        .so-list .item-body .card .grid tr:first-child td {
            border-top: 0px;
            color: #666;
        }

        .so-list .item-body .card td.cap {
            width: 65px;
        }

        .so-list .item-body .card .line {
            display: block;
        }

            .so-list .item-body .card .line .icon {
                float: left;
            }

            .so-list .item-body .card .line .val {
                display: block;
                margin-left: 25px;
            }

    .so-list .item-body .has-summary-row tr:last-child td {
        border-top: 1px #DDD solid;
    }

    .so-list .item-body .noboder-table {
        margin-bottom: 0;
    }

        .so-list .item-body .noboder-table td {
            padding: 5px;
            border: none;
        }
