#p-bill-detail .table-items {
	margin: 0;
	border: none;
	background: #EEE;
}
#p-bill-detail .table-items th,
#p-bill-detail .table-items td { border: none; }
#p-bill-detail .table-items td { border-top: 1px #DDD solid; }
#p-bill-detail .product-items { display: none; }
#p-bill-detail .ntips {
	color: #333;
	font-size: 12px;
	font-weight: normal;
}
#p-bill-detail #btnOrderDetail {
	margin-left: 30px;
	font-size: 12px;
	font-weight: normal;
}