.p-popayment-new-and-edit .po-table table { margin-bottom: 5px; }
.p-popayment-new-and-edit .po-table table tr.item-tpl { display: none; }
.p-popayment-new-and-edit .po-table table .c1 { width: 90px; }
.p-popayment-new-and-edit .po-table table .c-amt1 { width: 90px; }
.p-popayment-new-and-edit .po-table table .c-amt2 { width: 90px; }
.p-popayment-new-and-edit .po-table table .c-status { width: auto; }
.p-popayment-new-and-edit .po-table table .c2 { width: 90px; }
.p-popayment-new-and-edit .po-table table .c3 { width: 90px; text-align: center; }
.p-popayment-new-and-edit .po-table #btnAdd {
	float: left;
	padding-left: 0;
}
.p-popayment-new-and-edit .po-table .note {
	float: left;
	margin-top: 5px;
}
.p-popayment-new-and-edit .po-table tr.po-remark td {
	border-bottom-width: 2px;
}

#OverseaSOPaymentFormID table .c1 { width: auto; }
#OverseaSOPaymentFormID table .c2 { width: 100px; }
#OverseaSOPaymentFormID table .c3 { width: 60px; text-align: right; }
#OverseaSOPaymentFormID table .c4 { width: 100px; text-align: right; }