@{
	this.PageTitle = "编辑系统角色";

	StaffRole role = null;
	Guid? id = Utility.ParseQueryStringVal<Guid?>("id");
	if (id.HasValue)
	{
		role = Api<IStaffRoleApi>.Instance.Get(id.Value);
	}
	if (role == null)
	{
        throw new ApplicationException("Id为" + id + "的StaffRole数据不存在！");
	}
}

@section PageButtons {
	<button class="btn btn-sm btn-primary" id="btnSave" data-loading-text="保存中..."><i class="fa fa-save"></i> 保存</button>
	<a class="btn btn-sm btn-default" href="@LinkUrl("StaffUser/RoleDetail", new { id = role.Id })"><i class="fa fa-reply"></i> 返回</a>
}

<div id="p-StaffUser-editrole">
	<input type="hidden" id="iptPageUrl" value="@LinkUrl("StaffUser/RoleEdit", new { id = role.Id })" />

	@Html.Partial("/Views/StaffUser/Partial/FormRole.cshtml", role)
</div>