@{
    this.PageTitle = "新增系统用户";
}

@section PageButtons {
    <button class="btn btn-sm btn-primary" id="btnSave" data-loading-text="保存中..."><i class="fa fa-save"></i> 保存</button>
    <a class="btn btn-sm btn-default" href="@LinkUrl("StaffUser/UserQuery")"><i class="fa fa-sign-out"></i> 返回列表</a>
}

<div id="p-StaffUser-new2">
    @Html.Partial("/Views/StaffUser/Partial/FormUser.cshtml")
</div>