<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log" type="Fly.Framework.Common.LogSection, Fly.Framework.Common" />
    <section name="routeConfig" type="Fly.Framework.Common.RouteConfigurationSection, Fly.Framework.Common" />
  </configSections>
  <log source="WMSLocal">
    <emitter type="text" />
  </log>
  <routeConfig configSource="Configuration\Route.config" />
  <connectionStrings>
    <add name="Global" providerName="System.Data.SqlClient" connectionString="Data Source=120.24.36.75;Initial Catalog=FlyBase;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=fly123..; Max Pool Size=4096; Min Pool Size=10" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceRegistryConfigUrl" value="http://localhost:6636" />
    <add key="DefaultQueue" value="2" />
    <add key="Job_IntervalSeconds_UpdateAllAdminUserDataFromERP" value="10" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="20480" />
    <customErrors mode="Off" />
    <machineKey decryption="3DES" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" validation="SHA1" validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>