@{
	DateTime createdOn = ParseModel<DateTime>("CreatedOn");
	Guid createdBy = ParseModel<Guid>("CreatedBy");

	DateTime? updatedOn = ParseModel<DateTime?>("UpdatedOn");
	Guid? updatedBy = ParseModel<Guid?>("UpdatedBy");

	<div class="form-group">
		<label class="col-sm-3 control-label">创建信息</label>
		<div class="col-sm-5 form-control-static">由 @DisplayName(createdBy) 于 @D(createdOn) 创建</div>
	</div>

	if (updatedOn.HasValue)
	{
		<div class="form-group">
			<label class="col-sm-3 control-label">更新信息</label>
			<div class="col-sm-5 form-control-static">由 @DisplayName(updatedBy) 于 @D(updatedOn) 更新</div>
		</div>
	}
}