#p-property-query .grid-panel .c1 { width: 35px; }
#p-property-query .grid-panel .c2 { width: 60px; }
#p-property-query .grid-panel .c3 { width: auto; }
#p-property-query .grid-panel .c4 { width: auto; }
#p-property-query .grid-panel .c5 { width: 100px; text-align: center; }
#p-property-query .grid-panel .c6 { width: 80px; text-align: center; }
#p-property-query .grid-panel .c7 { width: 120px; }
#p-property-query .grid-panel .c8 { width: 150px; }
#p-property-query .grid-panel .c9 { width: 130px; }

#p-property-query .grid-panel .vlist .label {
	font-weight: normal;
}

.p-property-new-and-edit .value-list {}
.p-property-new-and-edit .value-list .item {
	margin-bottom: 5px;
}
.p-property-new-and-edit .value-list .item.enabled input {
	background: #dff0d8;
}
.p-property-new-and-edit .value-list .item.disabled input {
	background: #e1e1e8;
}
.p-property-new-and-edit .value-list .item .itext {
	float: left;
	width: 170px;
	margin-right: 5px;
}
.p-property-new-and-edit .value-list .item .iorder {
	float: left;
	width: 100px;
	margin-right: 5px;
}
.p-property-new-and-edit .value-list .item .iremark {
	float: left;
	width: 170px;
}
.p-property-new-and-edit .value-list .item .btn {
	float: left;
	width: 60px;
	padding-left: 0;
	padding-right: 0;
}
.p-property-new-and-edit .value-list-wrap .badd {
	float: left;
	padding-left: 0;
}
.p-property-new-and-edit .value-list-wrap .note {
	float: left;
	margin-top: 5px;
}