<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<scripts>
		<script path="~/resources/scripts/base">
			<file>~/Resources/ThirdParty/jquery-1.11.3.min.js</file>
			<file>~/Resources/ThirdParty/html5shiv.js</file>
			<file>~/Resources/ThirdParty/json2.js</file>
			<file>~/Resources/ThirdParty/jquery.cookie.js</file>
			<file>~/Resources/ThirdParty/bootstrap/js/bootstrap.js</file>
			<file>~/Resources/ThirdParty/metisMenu/metisMenu.js</file>
			<file>~/Resources/ThirdParty/toastr/toastr.min.js</file>
			<file>~/Resources/ThirdParty/bootstrapvalidator/js/bootstrapValidator.min.js</file>
			<file>~/Resources/ThirdParty/zTree/js/jquery.ztree.all-3.5.js</file>
			<file>~/Resources/ThirdParty/moment/moment-with-locales.min.js</file>
			<file>~/Resources/ThirdParty/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js</file>
			<file>~/Resources/Scripts/bootstrap-datetimepicker-ext.js</file>
			<file>~/Resources/ThirdParty/bootstrap-daterangepicker/daterangepicker.js</file>
			<file>~/Resources/Scripts/bootstrap-daterangepicker-ext.js</file>
			<file>~/Resources/ThirdParty/bootstrap-select/js/bootstrap-select.min.js</file>
			<file>~/Resources/ThirdParty/bootstrap-select/js/i18n/defaults-zh_CN.min.js</file>
			<file>~/Resources/ThirdParty/jquery-treegrid/js/jquery.treegrid.js</file>
			<file>~/Resources/ThirdParty/uuid.js</file>
			<file>~/Resources/ThirdParty/webuploader/webuploader.js</file>
			<file>~/Resources/ThirdParty/magicsuggest-master/magicsuggest.js</file>
			<file>~/Resources/ThirdParty/bootstrap-table/bootstrap-table.js</file>
			<file>~/Resources/ThirdParty/bootstrap-table/bootstrap-table-zh-CN.js</file>
			<file>~/Resources/ThirdParty/ajaxupload.3.6.js</file>
			<file>~/Resources/ThirdParty/photoswipe-master/photoswipe.js</file>
			<file>~/Resources/ThirdParty/photoswipe-master/photoswipe-ui-default.js</file>
			<file>~/Resources/ThirdParty/qrcode.js</file>
      <file>~/Resources/ThirdParty/ystep/js/ystep.js</file>

			<file>~/Resources/Scripts/functions.js</file>
			<file>~/Resources/Scripts/startup.js</file>
      <folder pattern="*.js" includeSubfolder="false">~/Resources/Scripts/Common</folder>
      <folder pattern="*.js" includeSubfolder="false">~/Resources/Scripts/Sales</folder>
      <!--<file>~/Resources/Scripts/shippingLabelPrinter.js</file>
			<folder pattern="*.js" includeSubfolder="false">~/Resources/Scripts/Catalog</folder>
			<folder pattern="*.js" includeSubfolder="false">~/Resources/Scripts/Purchases</folder>
			<folder pattern="*.js" includeSubfolder="false">~/Resources/Scripts/Accounting</folder>
			<folder pattern="*.js" includeSubfolder="false">~/Resources/Scripts/Marketing</folder>-->
		</script>
	</scripts>
	<styles>
		<style path="~/resources/css/base">
			<file>~/Resources/ThirdParty/bootstrap/css/bootstrap.css</file>
			<file>~/Resources/ThirdParty/font-awesome/css/font-awesome.css</file>
			<file>~/Resources/ThirdParty/metisMenu/metisMenu.css</file>
			<file>~/Resources/ThirdParty/toastr/toastr.min.css</file>
			<file>~/Resources/ThirdParty/bootstrapvalidator/css/bootstrapValidator.min.css</file>
			<file>~/Resources/ThirdParty/zTree/css/zTreeStyle/zTreeStyle.css</file>
			<file>~/Resources/ThirdParty/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css</file>
			<file>~/Resources/ThirdParty/bootstrap-daterangepicker/daterangepicker.css</file>
			<file>~/Resources/ThirdParty/bootstrap-select/css/bootstrap-select.min.css</file>
			<file>~/Resources/ThirdParty/jquery-treegrid/css/jquery.treegrid.css</file>
			<file>~/Resources/ThirdParty/bootstrap-table/bootstrap-table.css</file>
			<file>~/Resources/ThirdParty/photoswipe-master/photoswipe.css</file>
			<file>~/Resources/ThirdParty/photoswipe-master/default-skin/default-skin.css</file>
      <file>~/Resources/ThirdParty/ystep/css/ystep.css</file>


      <file>~/Resources/ThirdParty/webuploader/style.css</file>
			<file>~/Resources/ThirdParty/magicsuggest-master/magicsuggest.css</file>
			<file>~/Resources/Css/base.css</file>
			<file>~/Resources/Css/login.css</file>
      <file>~/Resources/Css/dashboard.css</file>
			<folder pattern="*.css" includeSubfolder="false">~/Resources/Css/Catalog</folder>
			<folder pattern="*.css" includeSubfolder="false">~/Resources/Css/Accounting</folder>
      <folder pattern="*.css" includeSubfolder="false">~/Resources/Css/Sales</folder>
			<!--
      <folder pattern="*.css" includeSubfolder="false">~/Resources/Css/Purchases</folder>
			<folder pattern="*.css" includeSubfolder="false">~/Resources/Css/Marketing</folder>-->
		</style>
		<!--<style path="~/resources/css/ie9">
			<file>~/Resources/Css/ie9.css</file>
		</style>-->
	</styles>
</configuration>