<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<item title="首页" icon="fa-home" url="/" show="true" authKey="" />

  <item title="系统设置" icon="fa-cogs">
    <item title="用户查询" icon="fa-users" show="true" authKey="Fly_StaffUserView" >
      <item title="查询系统用户" icon="fa-search" url="/StaffUser/UserQuery/" show="true" authKey="Fly_StaffUserView" />      
      <item title="查看系统用户" icon="fa-file" url="/StaffUser/UserDetail/" show="false" authKey="Fly_StaffUserView" />
      <item title="新增系统用户" icon="fa-plus" url="/StaffUser/UserNew/" show="false" authKey="Fly_StaffUserEdit" />
      <item title="编辑系统用户" icon="fa-pencil" url="/StaffUser/UserEdit/" show="false" authKey="Fly_StaffUserEdit" />
      <item title="设置临时权限" icon="fa-history" url="/StaffUser/SetTempPermission/" show="false" authKey="Fly_StaffUserManageTempPermission" />
      
      <item title="查询系统角色" icon="fa-address-card-o" url="/StaffUser/RoleQuery/" show="true" authKey="Fly_StaffRoleView">
        <item title="查看系统角色" icon="fa-file" url="/StaffUser/RoleDetail/" show="false" authKey="Fly_StaffRoleView" />
        <item title="新增系统角色" icon="fa-plus" url="/StaffUser/RoleNew/" show="false" authKey="Fly_StaffRoleEdit" />
        <item title="编辑系统角色" icon="fa-pencil" url="/StaffUser/RoleEdit/" show="false" authKey="Fly_StaffRoleEdit" />
      </item>
    </item>
    <item title="修改密码" icon="fa-key" url="/StaffUser/ChangePassword/" show="true" authKey="" />
  </item>

	<item title="基础数据" icon="fa-crosshairs">
  </item>
</configuration>